# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.ImageHub.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\kalo.aron\source\private\ImageHub\ImageHUB\ImageHub\.idea\.idea.ImageHub\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
